.member-container {
    display: flex;
    column-gap: 15px;
}

.select-system-item {
    min-width: 250px;
}

.btn {
    margin-bottom: 20px;
    float: right;
}

.center-cell {
    vertical-align: middle;
}
