.container {
    width: 100%;
    height: calc(100vh - 195px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.range-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
