.btn {
    margin-bottom: 20px;
}

.custom-margin-form {
    margin-bottom: 12px !important;
}

.bm-container {
    display: flex;
    column-gap: 15px;
}

.select-system-item {
    min-width: 250px;
}
