.account-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.center-cell {
    vertical-align: middle;
}
