.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.center-text {
    text-align: center;
}

.heading {
    font-size: 20px;
}

.desc {
    font-size: 16px;
}
