.custom-margin-form,
.custom-select-form {
    margin-bottom: 12px !important;
}

.custom-select-form {
    flex: 1;
}

.select-form {
    display: flex;
    column-gap: 10px;
}

.modal-body {
    max-height: 520px;
}

.minus-icon {
    transform: translateY(-80%);
}
