.breadcrumb {
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb-item {
    margin-left: 5px;
}

.center-cell {
    vertical-align: middle;
}
